@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Concert+One&family=Press+Start+2P&family=Shizuru&display=swap");

* {
  margin: 0;
  padding: 0;
  background-color: coral;
  font-family: "Bangers", sans-serif;
}

.container {
  color: rgb(27, 75, 87);
  text-align: center;
  margin-top: 50px;
}

.title {
  font-size: 50px;
}

.tileGrid {
  padding-top: 30px;
  justify-content: center;
  display: grid;
  grid-template-rows: repeat(3, 8vw);
  grid-template-columns: repeat(3, 8vw);
  font-family: "Bangers", cursive;
  position: relative;
  /* margin-left: 405px; */
}

.tile {
  border: 2px solid rgb(236, 165, 98);
  font-size: 6vw;
  display: flexbox;
  justify-content: center;
  align-items: center;
}

/* utility classes*/
.br-0 {
  border-right: 0;
}

.bl-0 {
  border-left: 0;
}

.bt-0 {
  border-top: 0;
}

.bb-0 {
  border-bottom: 0;
}

.tile:hover {
  background-color: rgb(238, 178, 156);
  cursor: pointer;
}

.gameInfo {
  margin-top: 20px;
  padding-top: 10px;
  font-size: 40px;
}

#reset {
  margin-top: 20px;
  background-color: hsla(212, 52%, 41%, 0.459);
  color: white;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 40px;
  font-family: "Bangers", sans-serif;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .title {
    font-size: 80px;
  }
  .gameInfo {
    font-size: 70px;
  }
}

@media screen and (max-width: 767px) {
  .tileGrid {
    grid-template-rows: repeat(3, 20vw);
    grid-template-columns: repeat(3, 20vw);
  }
  .tile {
    justify-content: center;
    font-size: 15vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .tileGrid {
    grid-template-rows: repeat(3, 12vw);
    grid-template-columns: repeat(3, 12vw);
  }
  .tile {
    justify-content: center;
    font-size: 8vw;
  }
  .title {
    font-size: 60px;
  }
  .gameInfo {
    font-size: 40px;
  }
}
